<!DOCTYPE html>
<html {{ language_attributes() }} >
<head>
    <meta charset="{{ bloginfo( 'charset' ) }}">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/@fontsource/jetbrains-mono/100.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/@fontsource/jetbrains-mono/200.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/@fontsource/jetbrains-mono/300.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/@fontsource/jetbrains-mono/400.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/@fontsource/jetbrains-mono/500.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/@fontsource/jetbrains-mono/600.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/@fontsource/jetbrains-mono/700.css">
    <link rel="stylesheet" href="{{ get_template_directory_uri() }}/node_modules/@fontsource/jetbrains-mono/800.css">
    <link rel="stylesheet" href="{{ get_stylesheet_uri() }}">
    <title>{{ get_bloginfo("name")}} {{ get_the_title() }}</title>
    {{ wp_head() }}
</head>
<body class="{{ body_class() }}">{{ wp_body_open() }}    
    <nav class="navbar navbar-expand-lg" style="background-color:#CFD8DC;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" >{{ get_bloginfo('title') }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {{ html_entity_decode(@nav) }}
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Escribe aqui..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>            
        </div>
    </nav>